asgiref==3.11.1
Django==6.0.3
django-cors-headers==4.9.0
djangorestframework==3.17.0
ezdxf==1.4.3
fonttools==4.62.1
numpy==2.4.3
psycopg2-binary==2.9.11
pyparsing==3.3.2
python-dotenv==1.2.2
sqlparse==0.5.5
typing_extensions==4.15.0
tzdata==2025.3
